/*
  #FFD88E
  #CAC670
  #90B45E
  #4DA058
  #008a5b
  #007363 */

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased; /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility; /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale; /* Support for IE. */
  font-feature-settings: "liga";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GmarketSansMedium";
}

.none {
  display: none;
}

.block {
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 4px;
  border: 1px solid #acacac;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  background: none;
  width: 150px;
  margin: 0px 10px;
  text-align: left;
}

.flex {
  display: flex;
}

#food {
  width: 1100px;
  height: 1950px;
  margin: auto;
}

#header {
  width: 100%;
  height: 50px;
  justify-content: space-between;
}

#main {
  width: 100%;
  height: 1700px;
}

#footer {
  width: 100%;
  height: 100px;
  background-color: aquamarine;
}

/* Header */
/* Header_nav */
.nav {
  width: 80%;
  height: 50px;
  display: flex;
  margin: 15px auto;
}

.logo {
  width: 120px;
  height: 100%;
}

.logo img {
  width: 120px;
}

.menu_list {
  width: 700px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.menu_list > div::after {
  display: block;
  content: "";
  border-bottom: solid 3px #9bc76c;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.menu_list > div:hover::after {
  transform: scaleX(1.1);
}

.login {
  width: 120px;
  height: 75%;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  transition: 0.25s;
}

.login:hover {
  letter-spacing: 1px;
  transform: scale(1.1);
  cursor: pointer;
}

.login div {
  width: 90px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 10px;
  background-color: #9bc76c;
}

/* Main */
.main_text {
  margin: 50px auto;
}

.main_text > h2 {
  word-spacing: 10px;
  text-align: center;
}

.line1 {
  border: 0;
  height: 2px;
  background-color: #acacac;
}

/* Main_search */
.searchbar {
  width: 1100px;
  height: 40px;
  margin: 30px 10px;
}

.search_keyword {
  width: 330px;
}

.keyword_input {
  width: 250px;
  margin: 0px 10px;
  padding: 4px;
  border: 1px solid #acacac;
  border-radius: 3px;
}

.search_area {
  width: 220px;
}

.search_sort {
  width: 220px;
}

.search_parking {
  width: 220px;
}

.search_dropdown_icon {
  display: block !important;
  position: relative;
  top: -27px;
  left: 172px;
  cursor: pointer;
}

.area_dropdown_content {
  border: 1px solid #acacac;
  border-radius: 3px;
  background-color: white;
  width: 150px;
  position: relative;
  top: -21px;
  left: 46px;
}

.area_dropdown_content > div {
  display: block;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
}

.area_dropdown_content input {
  position: relative;
  top: 2px;
  right: 13px;
  accent-color: #cac670;
}

input[id="gwangsangu"] {
  position: relative;
  right: 7px;
}

.area_apply_btn {
  display: block;
  width: 50px;
  margin: 10px auto;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #90b45e;
  color: white;
  cursor: pointer;
}

.sort_dropdown_icon {
  display: block !important;
  position: relative;
  top: -27px;
  left: 172px;
  cursor: pointer;
}

.sort_dropdown_content {
  border: 1px solid #acacac;
  border-radius: 3px;
  background-color: white;
  width: 150px;
  position: relative;
  top: -21px;
  left: 46px;
}

.sort_dropdown_content > div {
  display: block;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
}

.sort_dropdown_content input {
  position: relative;
  top: 2px;
  right: 13px;
  accent-color: #cac670;
}

.sort_apply_btn {
  display: block;
  width: 50px;
  margin: 10px auto;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #90b45e;
  color: white;
  cursor: pointer;
}

.parking_dropdown_content {
  border: 1px solid #acacac;
  border-radius: 3px;
  background-color: white;
  width: 150px;
  position: relative;
  top: -21px;
  left: 46px;
}

.parking_dropdown_content > div {
  display: block;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
}

.parking_dropdown_content input {
  position: relative;
  top: 2px;
  right: 5px;
  accent-color: #cac670;
}

input[id="possible"] {
  position: relative;
  right: 17px;
}

.parking_apply_btn {
  display: block;
  width: 50px;
  margin: 10px auto;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #90b45e;
  color: white;
  cursor: pointer;
}

.searchbar_reset_icon {
  position: relative;
  left: 60px;
  border: 1px solid #acacac;
  border-radius: 3px;
  padding: 1px;
  cursor: pointer;
}

.search_btn {
  display: block;
  width: 100px;
  height: 40px;
  margin: 30px auto 100px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #9bc76c;
  color: white;
  cursor: pointer;
}

.array_list {
  width: 300px;
  line-height: 30px;
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

/* Content */
.content_wrap {
  flex-wrap: wrap;
  align-items: center;
}

.content {
  width: 300px;
  height: 350px;
  margin: 30px;
  border: 1px solid #ececec;
  cursor: pointer;
}

.content_image_wrap {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.content_image_wrap > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content_text_wrap {
  padding: 20px 20px 30px;
}

.content_title {
  font-size: 18px;
}

.content_sort {
  font-size: 12px;
  color: #aaa;
}

.content_place {
  padding-top: 5px;
  font-size: 14px;
}

.content_closed {
  padding-top: 5px;
  color: red;
  font-size: 12px;
}

.content > hr {
  border: 0;
  height: 1px;
  background-color: #acacac;
}

.content_footer {
  width: 100%;
  height: 25px;
  color: #ccc;
  font-size: 10px;
  margin-left: 20px;
  align-items: center;
}

.content_footer > div {
  margin-right: 5px;
}

.content_footer > p {
  padding-top: 3px;
  margin-right: 10px;
}
