/*
  #FFD88E
  #CAC670
  #90B45E
  #4DA058
  #008a5b
  #007363 */

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased; /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility; /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale; /* Support for IE. */
  font-feature-settings: "liga";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GmarketSansMedium";
}

.none {
  display: none;
}

.block {
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 150px;
  padding: 5px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 5px 10px 15px rgba(174, 171, 171, 0.2);
  cursor: pointer;
}

.flex {
  display: flex;
}

#home {
  width: 1100px;
  height: 2580px;
  margin: auto;
}

#header {
  width: 100%;
  height: 565px;
  justify-content: space-between;
}

#main {
  width: 100%;
  height: 1900px;
}

#footer {
  width: 100%;
  height: 100px;
}

/* Header */
/* Header_nav */
.nav {
  width: 80%;
  height: 50px;
  display: flex;
  margin: 15px auto;
}

.logo {
  width: 120px;
  height: 100%;
}

.logo img {
  width: 120px;
}

.menu_list {
  width: 700px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.login {
  width: 120px;
  height: 75%;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  transition: 0.25s;
}

.login:hover {
  letter-spacing: 1px;
  transform: scale(1.1);
  cursor: pointer;
}

.login div {
  width: 90px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 10px;
  background-color: #008a5b;
}

/* Header_content */
.header_content {
  width: 100%;
  height: 500px;
  background-image: url("IMG/puppy.jpg");
  background-size: 1100px 500px;
}

.header_text {
  text-align: center;
  padding: 100px 0 30px 0;
  font-size: 35px;
  font-weight: 600;
}

.header_text span {
  color: #008a5b;
}

.search_box {
  display: flex;
  width: 600px;
  height: 45px;
  margin: 0 auto;
}

.dropdown {
  margin-right: 10px;
}

.dropdown button {
  width: 110px;
  height: 45px;
  border-radius: 8px;
  background-color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding-left: 20px;
  text-align: left;
}

.dropdown_icon {
  display: block !important;
  position: relative;
  top: -38px;
  left: 75px;
  cursor: pointer;
}

.dropdown_content {
  background-color: white;
  font-size: 20px;
  width: 110px;
  position: relative;
  top: -28px;
}

.dropdown_content > div {
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown_content > div:hover {
  background-color: #ececec;
}

.search {
  width: 500px;
  height: 45px;
  margin: 0 auto;
}

.search input {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 20px;
  font-size: 20px;
}

.search button {
  width: 50px;
  height: 45px;
  border: none;
  border-radius: 8px;
  background-color: white;
  position: relative;
  top: -45px;
  left: 450px;
}

.search_icon {
  cursor: pointer;
  line-height: 45px !important;
}

/* Bddy */
/* Home_area_box */
.area_box {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.area_text {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding: 100px;
}

.area_image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.area_image img {
  margin: 0 15px;
  cursor: pointer;
}

/* Home_banner */
.home_banner {
  width: 1100px;
  height: 150px;
  background-image: url("/IMG/main_banner.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Home_content1 */
.home_content1 {
  width: 100%;
  display: flex;
  height: 500px;
}

.homee_content1_left {
  width: 50%;
}

.home_content1_right {
  width: 50%;
}

.home_monitor img {
  width: 500px;
  height: 400px;
  margin: 60px 30px;
}

.home_content1_text {
  font-size: 30px;
  margin-top: 110px;
}

.home_content1_text span {
  font-weight: 600;
}

.home_content1_image li {
  display: inline-block;
  position: relative;
  top: 50px;
  margin-right: 70px;
}

.home_content1_image img {
  width: 50px;
  height: 50px;
}

.home_content1_image span {
  font-size: 15px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Home_content2 */
.home_content2 {
  width: 100%;
  height: 500px;
  display: flex;
}

.home_content2_left {
  width: 50%;
}

.home_content2_right {
  width: 50%;
}

.home_content2_text {
  font-size: 30px;
  margin: 100px 0px 100px 150px;
}

.home_content2_text span {
  font-weight: 600;
}

/* Footer */

.footer1 {
  width: 100%;
  height: 50px;
  background-color: rgb(245, 245, 245);
}

.footer1 span {
  font-size: 10px;
  line-height: 50px;
  margin-left: 15px;
  cursor: pointer;
}
