@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Barun Gothic';
}

#layout {
    width: 1100px;
    height: 100%;
    margin: auto;
}

.none {
    display: none !important;
}

.block {
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.z_none {
    z-index: 0 !important;
}

.z_display {
    z-index: 999 !important;
}

.btn {
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #9bc76c;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
}

.flex {
    display: flex;
}

.flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_space_between {
    display: flex;
    justify-content: space-between;
}

.bdt1 {border-top: 1px solid #acacac;}
.bdt2 {border-top: 2px solid #acacac;}

input[type=text] {
    padding: 5px;
    border: 1px solid #acacac;
    border-radius: 3px;
    outline: none;
}

.green {
    color: #008a5b;
}

.red {
    color: red;
}

.left {
    margin-right: auto;
    align-items: center;
}

.right {
    margin-left: auto;
    align-items: center;
}